.react-live-dark pre.prism-code {
  background: black !important;
}

ul {
  list-style-type: none !important;
}

.input-container {
  border-radius: 5px;
  border: 2px solid #dbdbdb;
  padding: 8px 8px;
  flex: 0 1;
}

.grep-test {
 display: flex;
 width: 100%;
 align-items: center;
 justify-content: space-around;
}

.grep-image {
 width: 60px;
 height: 60px;
 cursor: pointer;
}

.text-container {
  border: 1px solid grey;
  border-radius: 5px;
  overflow-y: auto;
  width: 90%;
  margin: auto;
  height: 700px;
}

.credit {
  font-size: 12px;
  text-align: left;
}

.start-button {
  background: transparent;
  border-radius: 5px;
  border: 3px solid black;
  background: black;
  color: #fff;
  padding: 8px;
}

.start-button:active {
    box-shadow: none;
  }
